In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import scipy.stats as stats
sns.set()

In [2]:
a_train = pd.read_csv('Copy of Training Dataset Capstone.csv')
a_train.shape

(186839, 12)

In [3]:
a_test = pd.read_csv('Copy of Testing Dataset Capstone.csv')
a_test.shape

(59252, 12)

In [4]:
agri = pd.merge(a_train,a_test, how = 'outer')
agri.shape

(246091, 12)

In [5]:
agri.head()

,State Name,City Name,Crop_Year,Season,Crop Name,Area,Production,Rain Fall,Production per Area,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Return (High/Moderate/Low)
0,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0,604.2,1.5949,Medium,Low,Low
1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Other Kharif pulses,2.0,1.0,604.2,0.5000,High,High,Moderate
2,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0,604.2,3.1471,Low,Low,Low
3,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0,1381.6,3.6420,Low,Low,Low
4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0,1381.6,0.2292,High,High,Moderate

In [6]:
agri.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246091 entries, 0 to 246090
Data columns (total 12 columns):
State Name                        246091 non-null object
City Name                         246091 non-null object
Crop_Year                         246091 non-null int64
Season                            246091 non-null object
Crop Name                         246091 non-null object
Area                              246091 non-null float64
Production                        242361 non-null float64
Rain Fall                         245854 non-null float64
Production
per Area               246091 non-null float64
Input Cost
(High/Medium/Low)      246091 non-null object
Market Price
(High/Medium/Low)    246091 non-null object
Return
(High/Moderate/Low)        246091 non-null object
dtypes: float64(4), int64(1), object(7)
memory usage: 24.4+ MB

In [7]:
agri_1 = agri.copy()

In [8]:
agri_1.columns

Index(['State Name', 'City Name', 'Crop_Year', 'Season', 'Crop Name', 'Area',
       'Production', 'Rain Fall', 'Production\nper Area',
       'Input Cost\n(High/Medium/Low)', 'Market Price\n(High/Medium/Low)',
       'Return\n(High/Moderate/Low)'],
      dtype='object')

In [9]:
agri1 = agri_1.drop(['City Name','Area','Production'], axis = 1)
agri1.head()

,State Name,Crop_Year,Season,Crop Name,Rain Fall,Production per Area,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Return (High/Moderate/Low)
0,Andaman and Nicobar Islands,2000,Kharif,Arecanut,604.2,1.5949,Medium,Low,Low
1,Andaman and Nicobar Islands,2000,Kharif,Other Kharif pulses,604.2,0.5000,High,High,Moderate
2,Andaman and Nicobar Islands,2000,Kharif,Rice,604.2,3.1471,Low,Low,Low
3,Andaman and Nicobar Islands,2000,Whole Year,Banana,1381.6,3.6420,Low,Low,Low
4,Andaman and Nicobar Islands,2000,Whole Year,Cashewnut,1381.6,0.2292,High,High,Moderate

In [10]:
agri1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 246091 entries, 0 to 246090
Data columns (total 9 columns):
State Name                        246091 non-null object
Crop_Year                         246091 non-null int64
Season                            246091 non-null object
Crop Name                         246091 non-null object
Rain Fall                         245854 non-null float64
Production
per Area               246091 non-null float64
Input Cost
(High/Medium/Low)      246091 non-null object
Market Price
(High/Medium/Low)    246091 non-null object
Return
(High/Moderate/Low)        246091 non-null object
dtypes: float64(2), int64(1), object(6)
memory usage: 18.8+ MB

In [11]:
agri1.shape

(246091, 9)

In [12]:
agri1.columns

Index(['State Name', 'Crop_Year', 'Season', 'Crop Name', 'Rain Fall',
       'Production\nper Area', 'Input Cost\n(High/Medium/Low)',
       'Market Price\n(High/Medium/Low)', 'Return\n(High/Moderate/Low)'],
      dtype='object')

Dropped city name,area,production from the dataset. Now classification of state name,rain fall,crop name, production per area is taken into consideration

Starting with the crop name first

In [13]:
## Lets Classify 1. Food Crops
fcrops = ['Rice',"Wheat","Other Kharif pulses","Maize","Other Cereals & Millets","Moong(Green Gram)","Masoor",
     "Arhar/Tur","Urad","Cowpea(Lobia)","Moth","Bajra","Jowar","Ragi","Small millets","Peas & beans (Pulses)",
     "Korra","Gram","other misc. pulses","Samai","Varagu","Pulses total","Paddy","Barley","Khesari","Total foodgrain",
     "Lentil","Jobster","Rajmash Kholar","Ricebean (nagadal)",'Other  Rabi pulses']

In [14]:
# 2. Cash Crops
ccrops = [ "Sugarcane", "Cotton(lint)", "Tobacco", "Jute", "Soyabean", "Sunflower", "other oilseeds", "Oilseeds total", "Castor seed", "Rapeseed &Mustard", "Black pepper",
     "Groundnut","Linseed", "Sesamum", "Mesta", "Niger seed", "Blackgram", "Sannhamp", "Guar seed", "Cond-spcs other",
     "Kapas","Cardamom","Jute & mesta"]

In [15]:
# 3. Plantation Crop 
pcrops = ["Coconut", "Tea", "Rubber", "Cashewnut", "Arecanut", "Safflower", "Other Dry Fruit", "Cashewnut Processed", "Cashewnut Raw", "Coffee",
    'Coconut ']

In [16]:
#4. Horticulture Crops
hcrops = ["Grapes", "Garlic", "Onion", "Other Fresh Fruits", "Other Vegetables", "Papaya", "Potato", "Pineapple", "Orange", "Banana", "Water Melon", "Coriander",
      "Bitter Gourd", "Bhindi", "Bottle Gourd", "Brinjal", "Cabbage", "Carrot", "Cauliflower", "Citrus Fruit", "Jack Fruit", "Pome Fruit", "Redish", "Sweet potato", "Tapioca",
      "Tomato", "Turmeric", "Dry ginger", "Dry chillies", "Horse-gram", "Peas  (vegetable)", "Beans & Mutter(Vegetable)", "Cucumber", "other fibres", "Pome Granet",
      "Ginger", "Turnip", "Sapota", "Lemon", "Colocosia","Bean", "Perilla", 'Arcanut (Processed)', "Atcanut (Raw)", "Drum Stick", "Snak Guard", "Ash Gourd", "Beet Root",
      "Lab-Lab", "Ribed Guard", "Yam", "Pump Kin", "Apple", "Peach", "Pear", "Plums", "Litchi", "Ber", 'Mango', 'Other Citrus Fruit' ]

In [17]:
def crop(name):
    if name in fcrops:
        return("Food Crops")
    elif name in ccrops: 
        return("Cash Crops")
    elif name in pcrops:
        return("Plantation Crops")
    elif name in hcrops:
        return("Horticulture Crops") 
    else:
        return(name)

In [18]:
agri1['Crop_Name_Cat'] = agri1['Crop Name'].apply(crop)

In [19]:
agri1.head()

,State Name,Crop_Year,Season,Crop Name,Rain Fall,Production per Area,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Return (High/Moderate/Low),Crop_Name_Cat
0,Andaman and Nicobar Islands,2000,Kharif,Arecanut,604.2,1.5949,Medium,Low,Low,Plantation Crops
1,Andaman and Nicobar Islands,2000,Kharif,Other Kharif pulses,604.2,0.5000,High,High,Moderate,Food Crops
2,Andaman and Nicobar Islands,2000,Kharif,Rice,604.2,3.1471,Low,Low,Low,Food Crops
3,Andaman and Nicobar Islands,2000,Whole Year,Banana,1381.6,3.6420,Low,Low,Low,Horticulture Crops
4,Andaman and Nicobar Islands,2000,Whole Year,Cashewnut,1381.6,0.2292,High,High,Moderate,Plantation Crops

Classification of the crop name done

Classification of the State Name

In [20]:
agri1["Regions"]=agri1["State Name"].map({'Andaman and Nicobar Islands':"East Region",'Andhra Pradesh':"South Region",
                                                "Arunachal Pradesh":"East Region",'Assam':"East Region",'Bihar':"East Region",
                                                'Chandigarh':"North Region",'Dadra and Nagar Haveli':"West Region",
                                                "Goa":"West Region","Gujarat":"West Region",'Haryana':"North Region",
                                                'Himachal Pradesh':"North Region",'Jammu and Kashmir ':"North Region", 
                                                'Jharkhand':"East Region",'Madhya Pradesh':"North Region", 
                                                'Maharashtra':"West Region",'Manipur':"East Region",'Meghalaya':"East Region",
                                                'Mizoram':"East Region",'Nagaland':"East Region",'Odisha':"East Region",'Puducherry'
                                                :"South Region",'Punjab':"North Region",'Rajasthan':"West Region",'Sikkim':"East Region"
                                                ,'Telangana ':"South Region",'Tripura':"East Region",'Uttar Pradesh':"East Region",'Uttarakhand':"North Region",
                                                'Chhattisgarh':"East Region", 'Karnataka':"South Region", 'Kerala':"South Region", 'Tamil Nadu':"South Region", 
                                                'West Bengal':"East Region"})

In [21]:
agri1.head()

,State Name,Crop_Year,Season,Crop Name,Rain Fall,Production per Area,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Return (High/Moderate/Low),Crop_Name_Cat,Regions
0,Andaman and Nicobar Islands,2000,Kharif,Arecanut,604.2,1.5949,Medium,Low,Low,Plantation Crops,East Region
1,Andaman and Nicobar Islands,2000,Kharif,Other Kharif pulses,604.2,0.5000,High,High,Moderate,Food Crops,East Region
2,Andaman and Nicobar Islands,2000,Kharif,Rice,604.2,3.1471,Low,Low,Low,Food Crops,East Region
3,Andaman and Nicobar Islands,2000,Whole Year,Banana,1381.6,3.6420,Low,Low,Low,Horticulture Crops,East Region
4,Andaman and Nicobar Islands,2000,Whole Year,Cashewnut,1381.6,0.2292,High,High,Moderate,Plantation Crops,East Region

Classification of Rainfall

In [22]:
def rainfall(x) :
    if x<=600 :
        return ("Low Rainfall")
    elif 600 < x <=1200 :
        return ("Average Rainfall")
    else :
        return ("High Rainfall")

In [23]:
agri1["Level_RainFall"]=agri1["Rain Fall"].apply(rainfall)

In [24]:
agri1.head()

,State Name,Crop_Year,Season,Crop Name,Rain Fall,Production per Area,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Return (High/Moderate/Low),Crop_Name_Cat,Regions,Level_RainFall
0,Andaman and Nicobar Islands,2000,Kharif,Arecanut,604.2,1.5949,Medium,Low,Low,Plantation Crops,East Region,Average Rainfall
1,Andaman and Nicobar Islands,2000,Kharif,Other Kharif pulses,604.2,0.5000,High,High,Moderate,Food Crops,East Region,Average Rainfall
2,Andaman and Nicobar Islands,2000,Kharif,Rice,604.2,3.1471,Low,Low,Low,Food Crops,East Region,Average Rainfall
3,Andaman and Nicobar Islands,2000,Whole Year,Banana,1381.6,3.6420,Low,Low,Low,Horticulture Crops,East Region,High Rainfall
4,Andaman and Nicobar Islands,2000,Whole Year,Cashewnut,1381.6,0.2292,High,High,Moderate,Plantation Crops,East Region,High Rainfall

Classification of production per area

In [25]:
prod_labels = ['Very Low Production', 'Low Production', 'Moderate Production', 'High Production','Very High Production', 'Very Very High Production']

In [26]:
prod_bins = [0, 0.38, 0.616 , 1.34, 3.17, 10.0, 88000 ]

In [27]:
agri1['ppa_labels'] = pd.cut(agri1['Production\nper Area'], bins=prod_bins, labels=prod_labels)

In [28]:
agri1['ppa_labels'].value_counts()

Moderate Production          71503
High Production              47895
Low Production               36289
Very Low Production          35338
Very High Production         24067
Very Very High Production    23738
Name: ppa_labels, dtype: int64

In [29]:
agri1.head()

,State Name,Crop_Year,Season,Crop Name,Rain Fall,Production per Area,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Return (High/Moderate/Low),Crop_Name_Cat,Regions,Level_RainFall,ppa_labels
0,Andaman and Nicobar Islands,2000,Kharif,Arecanut,604.2,1.5949,Medium,Low,Low,Plantation Crops,East Region,Average Rainfall,High Production
1,Andaman and Nicobar Islands,2000,Kharif,Other Kharif pulses,604.2,0.5000,High,High,Moderate,Food Crops,East Region,Average Rainfall,Low Production
2,Andaman and Nicobar Islands,2000,Kharif,Rice,604.2,3.1471,Low,Low,Low,Food Crops,East Region,Average Rainfall,High Production
3,Andaman and Nicobar Islands,2000,Whole Year,Banana,1381.6,3.6420,Low,Low,Low,Horticulture Crops,East Region,High Rainfall,Very High Production
4,Andaman and Nicobar Islands,2000,Whole Year,Cashewnut,1381.6,0.2292,High,High,Moderate,Plantation Crops,East Region,High Rainfall,Very Low Production

In [30]:
agri1['ppa_labels'].isnull().sum()

7261

In [31]:
agri1.isnull().sum()

State Name                            0
Crop_Year                             0
Season                                0
Crop Name                             0
Rain Fall                           237
Production\nper Area                  0
Input Cost\n(High/Medium/Low)         0
Market Price\n(High/Medium/Low)       0
Return\n(High/Moderate/Low)           0
Crop_Name_Cat                         0
Regions                               0
Level_RainFall                        0
ppa_labels                         7261
dtype: int64

In [32]:
agri1.isnull().sum()/agri1.shape[0]*100

State Name                         0.000000
Crop_Year                          0.000000
Season                             0.000000
Crop Name                          0.000000
Rain Fall                          0.096306
Production\nper Area               0.000000
Input Cost\n(High/Medium/Low)      0.000000
Market Price\n(High/Medium/Low)    0.000000
Return\n(High/Moderate/Low)        0.000000
Crop_Name_Cat                      0.000000
Regions                            0.000000
Level_RainFall                     0.000000
ppa_labels                         2.950535
dtype: float64

In [33]:
agri1.dropna(axis = 0, inplace = True)

In [34]:
agri1.isnull().sum()

State Name                         0
Crop_Year                          0
Season                             0
Crop Name                          0
Rain Fall                          0
Production\nper Area               0
Input Cost\n(High/Medium/Low)      0
Market Price\n(High/Medium/Low)    0
Return\n(High/Moderate/Low)        0
Crop_Name_Cat                      0
Regions                            0
Level_RainFall                     0
ppa_labels                         0
dtype: int64

In [35]:
agri1.head()

,State Name,Crop_Year,Season,Crop Name,Rain Fall,Production per Area,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Return (High/Moderate/Low),Crop_Name_Cat,Regions,Level_RainFall,ppa_labels
0,Andaman and Nicobar Islands,2000,Kharif,Arecanut,604.2,1.5949,Medium,Low,Low,Plantation Crops,East Region,Average Rainfall,High Production
1,Andaman and Nicobar Islands,2000,Kharif,Other Kharif pulses,604.2,0.5000,High,High,Moderate,Food Crops,East Region,Average Rainfall,Low Production
2,Andaman and Nicobar Islands,2000,Kharif,Rice,604.2,3.1471,Low,Low,Low,Food Crops,East Region,Average Rainfall,High Production
3,Andaman and Nicobar Islands,2000,Whole Year,Banana,1381.6,3.6420,Low,Low,Low,Horticulture Crops,East Region,High Rainfall,Very High Production
4,Andaman and Nicobar Islands,2000,Whole Year,Cashewnut,1381.6,0.2292,High,High,Moderate,Plantation Crops,East Region,High Rainfall,Very Low Production

In [36]:
agri1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 238600 entries, 0 to 246090
Data columns (total 13 columns):
State Name                        238600 non-null object
Crop_Year                         238600 non-null int64
Season                            238600 non-null object
Crop Name                         238600 non-null object
Rain Fall                         238600 non-null float64
Production
per Area               238600 non-null float64
Input Cost
(High/Medium/Low)      238600 non-null object
Market Price
(High/Medium/Low)    238600 non-null object
Return
(High/Moderate/Low)        238600 non-null object
Crop_Name_Cat                     238600 non-null object
Regions                           238600 non-null object
Level_RainFall                    238600 non-null object
ppa_labels                        238600 non-null category
dtypes: category(1), float64(2), int64(1), object(9)
memory usage: 23.9+ MB

In [37]:
agri1.head()

,State Name,Crop_Year,Season,Crop Name,Rain Fall,Production per Area,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Return (High/Moderate/Low),Crop_Name_Cat,Regions,Level_RainFall,ppa_labels
0,Andaman and Nicobar Islands,2000,Kharif,Arecanut,604.2,1.5949,Medium,Low,Low,Plantation Crops,East Region,Average Rainfall,High Production
1,Andaman and Nicobar Islands,2000,Kharif,Other Kharif pulses,604.2,0.5000,High,High,Moderate,Food Crops,East Region,Average Rainfall,Low Production
2,Andaman and Nicobar Islands,2000,Kharif,Rice,604.2,3.1471,Low,Low,Low,Food Crops,East Region,Average Rainfall,High Production
3,Andaman and Nicobar Islands,2000,Whole Year,Banana,1381.6,3.6420,Low,Low,Low,Horticulture Crops,East Region,High Rainfall,Very High Production
4,Andaman and Nicobar Islands,2000,Whole Year,Cashewnut,1381.6,0.2292,High,High,Moderate,Plantation Crops,East Region,High Rainfall,Very Low Production

In [38]:
agri1.columns

Index(['State Name', 'Crop_Year', 'Season', 'Crop Name', 'Rain Fall',
       'Production\nper Area', 'Input Cost\n(High/Medium/Low)',
       'Market Price\n(High/Medium/Low)', 'Return\n(High/Moderate/Low)',
       'Crop_Name_Cat', 'Regions', 'Level_RainFall', 'ppa_labels'],
      dtype='object')

In [39]:
agri2 = agri1.copy()

Model Making

In [49]:
agri2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 238600 entries, 0 to 246090
Data columns (total 13 columns):
State Name                        238600 non-null object
Crop_Year                         238600 non-null int64
Season                            238600 non-null int32
Crop Name                         238600 non-null object
Rain Fall                         238600 non-null float64
Production
per Area               238600 non-null float64
Input Cost
(High/Medium/Low)      238600 non-null int32
Market Price
(High/Medium/Low)    238600 non-null int32
Return
(High/Moderate/Low)        238600 non-null int32
Crop_Name_Cat                     238600 non-null int32
Regions                           238600 non-null int32
Level_RainFall                    238600 non-null int32
ppa_labels                        238600 non-null int32
dtypes: float64(2), int32(8), int64(1), object(2)
memory usage: 18.2+ MB

In [40]:
# Label Encoding
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
agri2['Regions'] = le.fit_transform(agri2['Regions'])
agri2['Level_RainFall'] = le.fit_transform(agri2['Level_RainFall'])
agri2['Crop_Name_Cat'] = le.fit_transform(agri2['Crop_Name_Cat'])
agri2['Season'] = le.fit_transform(agri2['Season'])
agri2['ppa_labels'] = le.fit_transform(agri2['ppa_labels'])
agri2['Input Cost\n(High/Medium/Low)'] = le.fit_transform(agri2['Input Cost\n(High/Medium/Low)'])
agri2['Market Price\n(High/Medium/Low)'] = le.fit_transform(agri2['Market Price\n(High/Medium/Low)'])
agri2['Return\n(High/Moderate/Low)'] = agri2['Return\n(High/Moderate/Low)'].replace({'Low':0, 'Moderate':1}).astype('int')

In [41]:
# Spilitting the dataset
X = agri2.drop(['Return\n(High/Moderate/Low)','State Name','Crop Name','Rain Fall', 'Production\nper Area'], axis = 1)
y = agri2['Return\n(High/Moderate/Low)']

In [42]:
from sklearn.model_selection import train_test_split

In [43]:
Xtrain, Xtest, ytrain, ytest = train_test_split(X,y, test_size = 0.3, random_state = 100)

In [44]:
print(Xtrain.shape)
print(Xtest.shape)
print(ytrain.shape)
print(ytest.shape)

(167020, 8)
(71580, 8)
(167020,)
(71580,)

In [45]:
# Applying Standard Scaler to Train and Test Dataset
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

sc_Xtrain = pd.DataFrame(sc.fit_transform(Xtrain), columns = Xtrain.columns)
sc_Xtest = pd.DataFrame(sc.fit_transform(Xtest), columns = Xtest.columns)

In [46]:
from sklearn.metrics import classification_report, roc_auc_score, f1_score, precision_score, recall_score, accuracy_score, cohen_kappa_score

In [47]:
# SKlearn model
from sklearn.linear_model import LogisticRegression

log = LogisticRegression()

model_log = log.fit(sc_Xtrain,ytrain)
y_pred = model_log.predict(sc_Xtest)

C:\Users\ADITYA GUPTA\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [48]:
print(classification_report(ytest,y_pred))

              precision    recall  f1-score   support

           0       0.71      0.50      0.59     26030
           1       0.76      0.88      0.81     45550

    accuracy                           0.74     71580
   macro avg       0.73      0.69      0.70     71580
weighted avg       0.74      0.74      0.73     71580

In [50]:
print('The accuracy of the LR model is, Accuracy = ', accuracy_score(ytest,y_pred))

The accuracy of the LR model is, Accuracy =  0.7432103939647946

In [51]:
print('The accuracy of the LR model is, Precision =', precision_score(ytest,y_pred))
print("The recall of the LR model is, Recall = ",recall_score(ytest,y_pred))
print("The f1score of the LR model is , F1_Score =",f1_score(ytest,y_pred))
print("The cohen's kappa score of the LR model is , Cohen's Kappa Score = ",cohen_kappa_score(ytest,y_pred))
print("The ROC_AUC score of the LR model ,ROC-AUC Score = ",roc_auc_score(ytest,y_pred))

The accuracy of the LR model is, Precision = 0.7563742049936777
The recall of the LR model is, Recall =  0.8798682766190999
The f1score of the LR model is , F1_Score = 0.8134609334564682
The cohen's kappa score of the LR model is , Cohen's Kappa Score =  0.4089776346811228
The ROC_AUC score of the LR model ,ROC-AUC Score =  0.6919702504878058

In [52]:
# Raw Logit Model
X_constant = sm.add_constant(X)
log_reg = sm.Logit(y,X_constant).fit()
log_reg.summary()
# The model is not significant.

C:\Users\ADITYA GUPTA\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

Optimization terminated successfully.
         Current function value: 0.532985
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                               Logit Regression Results
======================================================================================
Dep. Variable:     Return
(High/Moderate/Low)   No. Observations:               238600
Model:                                  Logit   Df Residuals:                   238591
Method:                                   MLE   Df Model:                            8
Date:                        Sun, 26 Jan 2020   Pseudo R-squ.:                  0.1862
Time:                                23:00:23   Log-Likelihood:            -1.2717e+05
converged:                               True   LL-Null:                   -1.5627e+05
Covariance Type:                    nonrobust   LLR p-value:                     0.000
==================================================================================================
                                     coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------------------
const                             73.8407      1.988     37.140      0.000      69.944      77.737
Crop_Year                         -0.0357      0.001    -36.064      0.000      -0.038      -0.034
Season                            -0.4473      0.004   -112.354      0.000      -0.455      -0.439
Input Cost
(High/Medium/Low)      -3.4064      0.026   -132.115      0.000      -3.457      -3.356
Market Price
(High/Medium/Low)     3.6831      0.026    142.792      0.000       3.633       3.734
Crop_Name_Cat                     -0.4186      0.006    -64.977      0.000      -0.431      -0.406
Regions                            0.0110      0.004      2.485      0.013       0.002       0.020
Level_RainFall                     0.0082      0.005      1.502      0.133      -0.002       0.019
ppa_labels                        -0.1191      0.003    -34.656      0.000      -0.126      -0.112
==================================================================================================
"""

In [53]:
#### Test for Multicollinearity: Variance Inflation Factor
from statsmodels.stats.outliers_influence import variance_inflation_factor

vif = [variance_inflation_factor(X_constant.values, i) for i in range(X_constant.shape[1])]
pd.DataFrame({'vif': vif[1:]}, index=X.columns).T

,Crop_Year,Season,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Crop_Name_Cat,Regions,Level_RainFall,ppa_labels
vif,1.005853,1.15849,11.236443,10.15755,1.128214,1.013942,1.003169,1.411546

In [54]:
agri2.corr()

,Crop_Year,Season,Rain Fall,Production per Area,Input Cost (High/Medium/Low),Market Price (High/Medium/Low),Return (High/Moderate/Low),Crop_Name_Cat,Regions,Level_RainFall,ppa_labels
Crop_Year,1.000000,-0.026471,-0.011468,0.013024,0.019205,0.017865,-0.060438,0.013571,-0.061855,-0.014210,-0.000050
Season,-0.026471,1.000000,0.224187,0.070300,-0.049227,-0.046672,-0.293663,0.331012,-0.021701,-0.018161,0.183502
Rain Fall,-0.011468,0.224187,1.000000,0.044745,-0.039586,-0.031933,-0.096997,0.163117,0.148809,-0.250010,0.090900
Production\nper Area,0.013024,0.070300,0.044745,1.000000,-0.015158,-0.010776,-0.049358,0.098420,0.012145,-0.004643,0.089059
Input Cost\n(High/Medium/Low),0.019205,-0.049227,-0.039586,-0.015158,1.000000,0.943325,0.026948,-0.010503,-0.076745,0.004712,-0.422956
Market Price\n(High/Medium/Low),0.017865,-0.046672,-0.031933,-0.010776,0.943325,1.000000,0.137803,-0.000902,-0.082809,0.003987,-0.303026
Return\n(High/Moderate/Low),-0.060438,-0.293663,-0.096997,-0.049358,0.026948,0.137803,1.000000,-0.214266,0.001863,0.009981,-0.030873
Crop_Name_Cat,0.013571,0.331012,0.163117,0.098420,-0.010503,-0.000902,-0.214266,1.000000,-0.007795,-0.009577,0.111014
Regions,-0.061855,-0.021701,0.148809,0.012145,-0.076745,-0.082809,0.001863,-0.007795,1.000000,-0.048552,0.014618
Level_RainFall,-0.014210,-0.018161,-0.250010,-0.004643,0.004712,0.003987,0.009981,-0.009577,-0.048552,1.000000,-0.013718
ppa_labels,-0.000050,0.183502,0.090900,0.089059,-0.422956,-0.303026,-0.030873,0.111014,0.014618,-0.013718,1.000000

In [55]:
x = agri2.drop(['Return\n(High/Moderate/Low)','State Name','Crop Name','Input Cost\n(High/Medium/Low)', 'Market Price\n(High/Medium/Low)', 'Production\nper Area'], axis = 1)
y = agri2['Return\n(High/Moderate/Low)']

In [56]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.3, random_state = 100)

In [57]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(167020, 7)
(71580, 7)
(167020,)
(71580,)

In [58]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()

sc_x_train = pd.DataFrame(sc.fit_transform(x_train), columns = x_train.columns)
sc_x_test = pd.DataFrame(sc.fit_transform(x_test), columns = x_test.columns)

In [59]:
from sklearn.linear_model import LogisticRegression

log = LogisticRegression()

model_log = log.fit(sc_x_train,y_train)
y_pred1 = model_log.predict(sc_x_test)

C:\Users\ADITYA GUPTA\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [60]:
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

           0       0.60      0.35      0.44     26030
           1       0.70      0.87      0.78     45550

    accuracy                           0.68     71580
   macro avg       0.65      0.61      0.61     71580
weighted avg       0.66      0.68      0.65     71580

In [61]:
print('The accuracy of the LR model is, Accuracy = ', accuracy_score(y_test,y_pred1))

The accuracy of the LR model is, Accuracy =  0.6796032411288069

In [62]:
print('The accuracy of the LR model is, Precision =', precision_score(y_test,y_pred1))
print("The recall of the LR model is, Recall = ",recall_score(y_test,y_pred1))
print("The f1score of the LR model is , F1_Score =",f1_score(y_test,y_pred1))
print("The cohen's kappa score of the LR model is , Cohen's Kappa Score = ",cohen_kappa_score(y_test,y_pred1))
print("The ROC_AUC score of the LR model ,ROC-AUC Score = ",roc_auc_score(y_test,y_pred1))

The accuracy of the LR model is, Precision = 0.7005177855800262
The recall of the LR model is, Recall =  0.8672886937431394
The f1score of the LR model is , F1_Score = 0.7750333516440397
The cohen's kappa score of the LR model is , Cohen's Kappa Score =  0.23987241091659461
The ROC_AUC score of the LR model ,ROC-AUC Score =  0.6092302093379547

In [63]:
# Logit Model
X_constant = sm.add_constant(x)
log_reg = sm.Logit(y,X_constant).fit()
log_reg.summary()

C:\Users\ADITYA GUPTA\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)

Optimization terminated successfully.
         Current function value: 0.600704
         Iterations 6

<class 'statsmodels.iolib.summary.Summary'>
"""
                               Logit Regression Results
======================================================================================
Dep. Variable:     Return
(High/Moderate/Low)   No. Observations:               238600
Model:                                  Logit   Df Residuals:                   238592
Method:                                   MLE   Df Model:                            7
Date:                        Sun, 26 Jan 2020   Pseudo R-squ.:                 0.08281
Time:                                23:09:58   Log-Likelihood:            -1.4333e+05
converged:                               True   LL-Null:                   -1.5627e+05
Covariance Type:                    nonrobust   LLR p-value:                     0.000
==================================================================================
                     coef    std err          z      P>|z|      [0.025      0.975]
----------------------------------------------------------------------------------
const             64.6830      1.833     35.285      0.000      61.090      68.276
Crop_Year         -0.0313      0.001    -34.294      0.000      -0.033      -0.030
Season            -0.4266      0.004   -112.257      0.000      -0.434      -0.419
Rain Fall       -5.31e-05   5.67e-06     -9.363      0.000   -6.42e-05    -4.2e-05
Crop_Name_Cat     -0.3697      0.006    -60.054      0.000      -0.382      -0.358
Regions           -0.0133      0.004     -3.242      0.001      -0.021      -0.005
Level_RainFall    -0.0051      0.005     -0.976      0.329      -0.015       0.005
ppa_labels         0.0503      0.003     17.512      0.000       0.045       0.056
==================================================================================
"""

In [64]:
# Applying Decision Tree Model without dropping Input cost and market price
from sklearn.tree import DecisionTreeClassifier

dt = DecisionTreeClassifier()
model_dt = dt.fit(sc_Xtrain,ytrain)
y_pred2 = model_dt.predict(sc_Xtest)

In [65]:
print(classification_report(ytest,y_pred2))

              precision    recall  f1-score   support

           0       0.88      0.89      0.88     26030
           1       0.94      0.93      0.93     45550

    accuracy                           0.91     71580
   macro avg       0.91      0.91      0.91     71580
weighted avg       0.91      0.91      0.91     71580

In [66]:
print('The accuracy of the Decision Tree model is, Accuracy = ', accuracy_score(ytest,y_pred2))

The accuracy of the Decision Tree model is, Accuracy =  0.914557138865605

In [67]:
print('The accuracy of the DT model is, Precision =', precision_score(ytest,y_pred2))
print("The recall of the DT model is, Recall = ",recall_score(ytest,y_pred2))
print("The f1score of the DT model is , F1_Score =",f1_score(ytest,y_pred2))
print("The cohen's kappa score of the DT model is , Cohen's Kappa Score = ",cohen_kappa_score(ytest,y_pred2))
print("The ROC_AUC score of the DT model ,ROC-AUC Score = ",roc_auc_score(ytest,y_pred2))

The accuracy of the DT model is, Precision = 0.9367772805812768
The recall of the DT model is, Recall =  0.9283863885839737
The f1score of the DT model is , F1_Score = 0.9325629603493141
The cohen's kappa score of the DT model is , Cohen's Kappa Score =  0.8160031090862143
The ROC_AUC score of the DT model ,ROC-AUC Score =  0.9093718343227205

In [68]:
# Applying Random Forest without dropping input cost and market price
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
model_rf = rf.fit(sc_Xtrain,ytrain)
y_pred3 = model_rf.predict(sc_Xtest)

C:\Users\ADITYA GUPTA\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [69]:
print(classification_report(ytest,y_pred3))

              precision    recall  f1-score   support

           0       0.88      0.88      0.88     26030
           1       0.93      0.93      0.93     45550

    accuracy                           0.92     71580
   macro avg       0.91      0.91      0.91     71580
weighted avg       0.92      0.92      0.92     71580

In [70]:
print('The accuracy of the Random Forest model is, Accuracy = ', accuracy_score(ytest,y_pred3))

The accuracy of the Random Forest model is, Accuracy =  0.9150321318804135

In [71]:
print('The accuracy of the RF model is, Precision =', precision_score(ytest,y_pred3))
print("The recall of the RF model is, Recall = ",recall_score(ytest,y_pred3))
print("The f1score of the RF model is , F1_Score =",f1_score(ytest,y_pred3))
print("The cohen's kappa score of the RF model is , Cohen's Kappa Score = ",cohen_kappa_score(ytest,y_pred3))
print("The ROC_AUC score of the RF model ,ROC-AUC Score = ",roc_auc_score(ytest,y_pred3))

The accuracy of the RF model is, Precision = 0.9333713984539704
The recall of the RF model is, Recall =  0.9330845225027442
The f1score of the RF model is , F1_Score = 0.9332279384318116
The cohen's kappa score of the RF model is , Cohen's Kappa Score =  0.8164326162941347
The ROC_AUC score of the RF model ,ROC-AUC Score =  0.908263352300162

In [84]:
from sklearn.ensemble import GradientBoostingClassifier
model_3= GradientBoostingClassifier(learning_rate=0.01,random_state=1)
model_3.fit(Xtrain, ytrain)
print(model_3.score(Xtrain,ytrain))
print(model_3.score(Xtest,ytest))

0.9012094359956891
0.9012433640681755

In [85]:
agri2.columns

Index(['State Name', 'Crop_Year', 'Season', 'Crop Name', 'Rain Fall',
       'Production\nper Area', 'Input Cost\n(High/Medium/Low)',
       'Market Price\n(High/Medium/Low)', 'Return\n(High/Moderate/Low)',
       'Crop_Name_Cat', 'Regions', 'Level_RainFall', 'ppa_labels'],
      dtype='object')